@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');

:root{
    --font-prata: "Prata", serif;
    --font-prata-weight: 400;
    --font-prata-style: normal;
}

.font-prata{
    font-family: var(--font-prata);
    font-weight: var(--font-prata-weight);
    font-style: var(--font-prata-style);
}

.font-monserrat{
    font-family: "Montserrat Alternates", sans-serif;
    /*100-900*/
    font-weight: 500;
    /*normal o italic*/
    font-style: normal;
}

.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.formulario form{
    flex: 1;
    background: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    border-radius: calc(20rem / 16);
    padding: 8px calc(100rem /16);
}

.formulario h2{
    font-size: calc(32rem / 16);
    font-weight: 400;
    color: #212121;
}